.keyboard-row {
	display: flex;
	width: 100%;
	margin: 0 auto 4px;
	touch-action: manipulation;
}

.keyboard-button {
	color: #f8f8f8;
	font-size: 20px;
	font-weight: bold;
	height: 58px;
	border-radius: 4px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
	overflow: hidden;
	flex: 1;
	margin-right: 3px;
	user-select: none;
}

.keyboard-button-special {
	flex: 1.3;
	font-size: 11px;
}

.spacer {
	flex: .5;
}